body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  background: #000;
  padding: 0;
  margin: 0;
}
header {
  line-height: 1.4;
  background-color: #222222;
  color: #fff;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
}
header h1 {
  padding:0;
  margin:0;
  font-weight: 100;
  line-height: 80px;
  font-size: 24px;
}
article {
  margin: 40px auto;
  padding: 20px 20px 40px 20px;
}
footer {
  background-color: #222222;
  color: #fff;
  padding: 40px;
  font-size: 18px;
}
footer > * {
	display: block;
	margin: 0px auto 1.5em auto;
	max-width: 800px;
	line-height: 1.5em;
	font-size: 14px;
}
footer h2 {
  font-size: 24px;
}
header a, footer a { color: #ff3158;}
iframe {
  border-radius: 20px;
  margin: 0px auto 10px auto;
  border: 1px solid #333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  height: 480px;
}
#buttons {
  padding: 0 10px
}
#buttons button {
  line-height: 40px;
  padding: 0 40px;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 15px 15px 0px 15px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color:  #353535;
  text-decoration: none;
  border: none;
  color: #eee;
  font-size: 13pt;
  line-height: 40px;
  transition: background-color 0.25s, color 0.25s;
}
#buttons button:hover {
  background-color: #ff3158;
  cursor: pointer;
  color: rgb(19, 19, 19);  
}
b {
  color: #00ff00;
}